.noir {
        --sawmill-colors-background-content: var(--sawmill-colors-brand-tertiary);
  --sawmill-colors-background-global: var(--sawmill-colors-gray-10);
  --sawmill-colors-background-input: var(--sawmill-colors-gray-0);
  --sawmill-colors-background-input-disabled: var(--sawmill-colors-gray-20);
  --sawmill-colors-background-input-error: var(--sawmill-colors-variant-danger-lighter);
  --sawmill-colors-background-input-focus: var(--sawmill-colors-gray-0);
  --sawmill-colors-background-navigation: var(--sawmill-colors-gray-10);
  --sawmill-colors-background-table-alt: var(--sawmill-colors-gray-10);
  --sawmill-colors-background-table: var(--sawmill-colors-gray-0);
  --sawmill-colors-background-table-hover: var(--sawmill-colors-gray-20);
  --sawmill-colors-background-table-active: var(--sawmill-colors-gray-10);
  --sawmill-colors-background-table-active-hover: var(--sawmill-colors-gray-20);
  --sawmill-colors-background-table-danger: var(--sawmill-colors-variant-danger-lightest);
  --sawmill-colors-background-table-danger-hover: var(--sawmill-colors-variant-danger-lighter);
  --sawmill-colors-background-table-info: var(--sawmill-colors-variant-info-lightest);
  --sawmill-colors-background-table-info-hover: var(--sawmill-colors-variant-info-lighter);
  --sawmill-colors-background-table-primary: var(--sawmill-colors-variant-primary-lightest);
  --sawmill-colors-background-table-primary-hover: var(--sawmill-colors-variant-primary-lighter);
  --sawmill-colors-background-table-success: var(--sawmill-colors-variant-success-lightest);
  --sawmill-colors-background-table-success-hover: var(--sawmill-colors-variant-success-lighter);
  --sawmill-colors-background-table-warning: var(--sawmill-colors-variant-warning-lightest);
  --sawmill-colors-background-table-warning-hover: var(--sawmill-colors-variant-warning-lighter);
  --sawmill-colors-border-input: var(--sawmill-colors-gray-30);
  --sawmill-colors-border-input-disabled: var(--sawmill-colors-gray-20);
  --sawmill-colors-border-input-error: var(--sawmill-colors-variant-danger-light);
  --sawmill-colors-border-input-focus: var(--sawmill-colors-variant-info-lighter);
  --sawmill-colors-border-panel: var(--sawmill-colors-gray-20);
  --sawmill-colors-brand-primary: #ff3633;
  --sawmill-colors-brand-secondary: #888;
  --sawmill-colors-brand-tertiary: #fff;
  --sawmill-colors-gray-0: hsla(240, 0.00%, 100.00%, 1);
  --sawmill-colors-gray-10: hsla(240, 0.00%, 87.43%, 1);
  --sawmill-colors-gray-20: hsla(240, 0.00%, 74.86%, 1);
  --sawmill-colors-gray-30: hsla(240, 0.00%, 62.29%, 1);
  --sawmill-colors-gray-40: hsla(240, 0.00%, 49.71%, 1);
  --sawmill-colors-gray-50: hsla(240, 0.00%, 37.14%, 1);
  --sawmill-colors-gray-60: hsla(240, 0.00%, 30.86%, 1);
  --sawmill-colors-gray-70: hsla(240, 0.00%, 24.57%, 1);
  --sawmill-colors-gray-80: hsla(240, 0.00%, 18.29%, 1);
  --sawmill-colors-gray-90: hsla(240, 0.00%, 12.00%, 1);
  --sawmill-colors-text-primary: var(--sawmill-colors-brand-tertiary);
  --sawmill-colors-text-secondary: var(--sawmill-colors-brand-secondary);
  --sawmill-colors-text-link: var(--sawmill-colors-variant-primary-base);
  --sawmill-colors-text-link-hover: var(--sawmill-colors-variant-primary-light);
  --sawmill-colors-text-input: var(--sawmill-colors-gray-80);
  --sawmill-colors-text-input-disabled: var(--sawmill-colors-gray-60);
  --sawmill-colors-text-input-error: var(--sawmill-colors-variant-danger-dark);
  --sawmill-colors-text-input-placeholder: var(--sawmill-colors-gray-60);
  --sawmill-colors-variant-danger-darkest: #e6b8b8;
  --sawmill-colors-variant-danger-darker: #d07171;
  --sawmill-colors-variant-danger-dark: #ba3b3b;
  --sawmill-colors-variant-danger-base: #922222;
  --sawmill-colors-variant-danger-light: #6a1515;
  --sawmill-colors-variant-danger-lighter: #420c0c;
  --sawmill-colors-variant-danger-lightest: #190505;
  --sawmill-colors-variant-info-darkest: #b8d3e6;
  --sawmill-colors-variant-info-darker: #72b4e0;
  --sawmill-colors-variant-info-dark: #3498db;
  --sawmill-colors-variant-info-base: #1f75af;
  --sawmill-colors-variant-info-light: #145783;
  --sawmill-colors-variant-info-lighter: #0f3a57;
  --sawmill-colors-variant-info-lightest: #091d2b;
  --sawmill-colors-variant-primary-darkest: #bad0e8;
  --sawmill-colors-variant-primary-darker: #7fa1c5;
  --sawmill-colors-variant-primary-dark: #547aa2;
  --sawmill-colors-variant-primary-base: #375a7f;
  --sawmill-colors-variant-primary-light: #1e3d5d;
  --sawmill-colors-variant-primary-lighter: #0f243b;
  --sawmill-colors-variant-primary-lightest: #050f19;
  --sawmill-colors-variant-success-darkest: #c5d9d4;
  --sawmill-colors-variant-success-darker: #58caae;
  --sawmill-colors-variant-success-dark: #00bc8c;
  --sawmill-colors-variant-success-base: #00936e;
  --sawmill-colors-variant-success-light: #006b50;
  --sawmill-colors-variant-success-lighter: #004232;
  --sawmill-colors-variant-success-lightest: #011913;
  --sawmill-colors-variant-warning-darkest: #ccad7a;
  --sawmill-colors-variant-warning-darker: #e0b36b;
  --sawmill-colors-variant-warning-dark: #eeaf4a;
  --sawmill-colors-variant-warning-base: #f39c12;
  --sawmill-colors-variant-warning-light: #b97100;
  --sawmill-colors-variant-warning-lighter: #754800;
  --sawmill-colors-variant-warning-lightest: #331f00;
  --sawmill-shadows-input: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(25, 92, 161, 0.4);
  --sawmill-shadows-navigation: hsla(240, 0.00%, 87.43%, 0.5);
  --sawmill-shadows-panel: 0 2px 6px 0 hsla(240, 0.00%, 49.71%, 0.4);
    }