:root {
        --sawmill-colors-background-content: var(--sawmill-colors-brand-tertiary);
  --sawmill-colors-background-global: var(--sawmill-colors-variant-gray-1);
  --sawmill-colors-background-input: var(--sawmill-colors-variant-gray-0);
  --sawmill-colors-background-input-disabled: var(--sawmill-colors-variant-gray-2);
  --sawmill-colors-background-input-error: var(--sawmill-colors-variant-danger-3);
  --sawmill-colors-background-input-focus: var(--sawmill-colors-variant-gray-0);
  --sawmill-colors-background-navigation: var(--sawmill-colors-variant-gray-1);
  --sawmill-colors-background-table-alt: var(--sawmill-colors-variant-gray-1);
  --sawmill-colors-background-table: var(--sawmill-colors-variant-gray-0);
  --sawmill-colors-background-table-hover: var(--sawmill-colors-variant-gray-2);
  --sawmill-colors-background-table-active: var(--sawmill-colors-variant-gray-1);
  --sawmill-colors-background-table-active-hover: var(--sawmill-colors-variant-gray-2);
  --sawmill-colors-background-table-danger: var(--sawmill-colors-variant-danger-1);
  --sawmill-colors-background-table-danger-hover: var(--sawmill-colors-variant-danger-3);
  --sawmill-colors-background-table-info: var(--sawmill-colors-variant-info-1);
  --sawmill-colors-background-table-info-hover: var(--sawmill-colors-variant-info-3);
  --sawmill-colors-background-table-primary: var(--sawmill-colors-variant-primary-1);
  --sawmill-colors-background-table-primary-hover: var(--sawmill-colors-variant-primary-3);
  --sawmill-colors-background-table-success: var(--sawmill-colors-variant-success-1);
  --sawmill-colors-background-table-success-hover: var(--sawmill-colors-variant-success-3);
  --sawmill-colors-background-table-warning: var(--sawmill-colors-variant-warning-1);
  --sawmill-colors-background-table-warning-hover: var(--sawmill-colors-variant-warning-3);
  --sawmill-colors-brand-primary: #ff3633;
  --sawmill-colors-brand-secondary: #fff;
  --sawmill-colors-brand-tertiary: #1f1f1f;
  --sawmill-colors-variant-transparent: rgba(0, 0, 0, 0);
  --sawmill-colors-variant-gray-0: #F2F2F2;
  --sawmill-colors-variant-gray-1: #DBDBDB;
  --sawmill-colors-variant-gray-2: #C4C4C4;
  --sawmill-colors-variant-gray-3: #ADADAD;
  --sawmill-colors-variant-gray-4: #969696;
  --sawmill-colors-variant-gray-5: #808080;
  --sawmill-colors-variant-gray-6: #666666;
  --sawmill-colors-variant-gray-7: #4D4D4D;
  --sawmill-colors-variant-gray-8: #333333;
  --sawmill-colors-variant-gray-9: #1A1A1A;
  --sawmill-colors-variant-danger-0: #FEE6E6;
  --sawmill-colors-variant-danger-1: #FCBABA;
  --sawmill-colors-variant-danger-2: #FA8E8E;
  --sawmill-colors-variant-danger-3: #F96262;
  --sawmill-colors-variant-danger-4: #F73636;
  --sawmill-colors-variant-danger-5: #F50A0A;
  --sawmill-colors-variant-danger-6: #C40808;
  --sawmill-colors-variant-danger-7: #930606;
  --sawmill-colors-variant-danger-8: #620404;
  --sawmill-colors-variant-danger-9: #310202;
  --sawmill-colors-variant-info-0: #E5F3FF;
  --sawmill-colors-variant-info-1: #B8DDFF;
  --sawmill-colors-variant-info-2: #8AC7FF;
  --sawmill-colors-variant-info-3: #5CB1FF;
  --sawmill-colors-variant-info-4: #2E9BFF;
  --sawmill-colors-variant-info-5: #0085FF;
  --sawmill-colors-variant-info-6: #006ACC;
  --sawmill-colors-variant-info-7: #005099;
  --sawmill-colors-variant-info-8: #003566;
  --sawmill-colors-variant-info-9: #001B33;
  --sawmill-colors-variant-primary-0: #F6EBF9;
  --sawmill-colors-variant-primary-1: #E6C8EF;
  --sawmill-colors-variant-primary-2: #D6A4E4;
  --sawmill-colors-variant-primary-3: #C681DA;
  --sawmill-colors-variant-primary-4: #B65DD0;
  --sawmill-colors-variant-primary-5: #A63AC5;
  --sawmill-colors-variant-primary-6: #852E9E;
  --sawmill-colors-variant-primary-7: #642376;
  --sawmill-colors-variant-primary-8: #42174F;
  --sawmill-colors-variant-primary-9: #210C27;
  --sawmill-colors-variant-success-0: #EAFBF5;
  --sawmill-colors-variant-success-1: #C4F3E2;
  --sawmill-colors-variant-success-2: #9DEBCF;
  --sawmill-colors-variant-success-3: #77E4BC;
  --sawmill-colors-variant-success-4: #51DCA9;
  --sawmill-colors-variant-success-5: #2BD496;
  --sawmill-colors-variant-success-6: #22AA78;
  --sawmill-colors-variant-success-7: #1A7F5A;
  --sawmill-colors-variant-success-8: #11553C;
  --sawmill-colors-variant-success-9: #092A1E;
  --sawmill-colors-variant-warning-0: #FFFBE5;
  --sawmill-colors-variant-warning-1: #FFF2B8;
  --sawmill-colors-variant-warning-2: #FFEA8A;
  --sawmill-colors-variant-warning-3: #FFE25C;
  --sawmill-colors-variant-warning-4: #FFDA2E;
  --sawmill-colors-variant-warning-5: #FFD200;
  --sawmill-colors-variant-warning-6: #CCA800;
  --sawmill-colors-variant-warning-7: #997E00;
  --sawmill-colors-variant-warning-8: #665400;
  --sawmill-colors-variant-warning-9: #332A00;
  --sawmill-shadows-input: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(87, 146, 219, 0.4);
  --sawmill-shadows-navigation: hsla(240, 0.00%, 18.29%, 0.5);
  --sawmill-shadows-panel: 0 2px 6px 0 hsla(240, 0.00%, 37.14%, 0.4);
  --sawmill-elevations-underneath: -100;
  --sawmill-elevations-base: auto;
  --sawmill-elevations-overlay: 100;
  --sawmill-elevations-toast: 200;
  --sawmill-elevations-popup: 300;
  --sawmill-opacities-0: 0;
  --sawmill-opacities-35: 0.35;
  --sawmill-opacities-65: 0.65;
  --sawmill-opacities-80: 0.8;
  --sawmill-opacities-100: 1;
  --sawmill-radii-none: 0;
  --sawmill-radii-sm: 2px;
  --sawmill-radii-md: 4px;
  --sawmill-radii-lg: 6px;
  --sawmill-radii-round: 50%;
  --sawmill-spacings-0: 0px;
  --sawmill-spacings-1: 1px;
  --sawmill-spacings-huge: 8.25rem;
  --sawmill-spacings-xxl: 5.10rem;
  --sawmill-spacings-xl: 3.15rem;
  --sawmill-spacings-lg: 1.95rem;
  --sawmill-spacings-md: 1.20rem;
  --sawmill-spacings-sm: 0.75rem;
  --sawmill-spacings-xs: 0.45rem;
  --sawmill-spacings-xxs: 0.30rem;
  --sawmill-spacings-px-0: 0;
  --sawmill-spacings-px-1: 1;
  --sawmill-spacings-px-huge: 116;
  --sawmill-spacings-px-xxl: 71;
  --sawmill-spacings-px-xl: 44;
  --sawmill-spacings-px-lg: 27;
  --sawmill-spacings-px-md: 17;
  --sawmill-spacings-px-sm: 11;
  --sawmill-spacings-px-xs: 6;
  --sawmill-spacings-px-xxs: 4;
  --sawmill-typography-fonts-sans: "Open Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --sawmill-typography-fonts-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --sawmill-typography-fonts-monospace: "Roboto Mono", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Menlo, Monaco, "Courier New", Courier, monospace;
  --sawmill-typography-line-heights-compact: 0.8;
  --sawmill-typography-line-heights-tight: 1;
  --sawmill-typography-line-heights-base: normal;
  --sawmill-typography-line-heights-loose: 1.2;
  --sawmill-typography-line-heights-relaxed: 1.5;
  --sawmill-typography-font-ratio: 1.125;
  --sawmill-typography-font-sizes-root: 87.5%;
  --sawmill-typography-font-sizes-base: 1rem;
  --sawmill-typography-font-sizes-xxs: calc(var(--sawmill-typography-font-sizes-xs) / var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-xs: calc(var(--sawmill-typography-font-sizes-sm) / var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-sm: calc(var(--sawmill-typography-font-sizes-base) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-md: calc(var(--sawmill-typography-font-sizes-sm) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-lg: calc(var(--sawmill-typography-font-sizes-md) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-xl: calc(var(--sawmill-typography-font-sizes-lg) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-xxl: calc(var(--sawmill-typography-font-sizes-xl) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-sizes-huge: calc((var(--sawmill-typography-font-sizes-xxl) * 1.5) * var(--sawmill-typography-font-ratio));
  --sawmill-typography-font-weights-thin: 100;
  --sawmill-typography-font-weights-light: 300;
  --sawmill-typography-font-weights-regular: 400;
  --sawmill-typography-font-weights-medium: 500;
  --sawmill-typography-font-weights-semibold: 600;
  --sawmill-typography-font-weights-bold: 700;
  --sawmill-typography-font-weights-black: 900;
    }