:root{
  /* Rounded shape radius size for small components.*/
  --mdc-shape-small	:4px;
  /* Rounded shape radius size for small components.*/
  --mdc-shape-medium	:4px;
  /* Rounded shape radius size for small components.*/
  --mdc-shape-large	:0;
}